body{
    background-color:#F5DEB3;
}

.img_topo{
    width: 1000px;
}
figure{
    text-align: center;
}
.container{
    width: 80%;
    margin: auto;
}
h1{
    text-align: center;
    color:#8B4513 ;
}
p{ 
    font-size: 1.4rem;
    color:#8B4513 ;
    text-align: justify;
    text-indent: 40px;
}